{% assign class = site.data.class[include.class] %}

{% include class/archetype.html list=class.archetype %}

<table>
    <tr>
        <td>
            {% include class/general.html data=class.general %}
            {% include class/special.html data=class.special %}
        </td>
        <td colspan="2">
            {% include class/secondary.html data=class.secondary %}
        </td>
    </tr>
    <tr>
        <td class='tri-table'>
            {% include class/martial.html data=class.martial %}
        </td>
        <td class='tri-table'>
            {% include class/magic.html data=class.magic %}
        </td>
        <td class='tri-table'>
            {% include class/psychic.html data=class.psychic %}
        </td>
    </tr>
</table>
