
{% assign entry = include.entry %}
{% assign level = include.level %}
{% assign nextLevel = include.level | plus: 1 %}

{% if entry %}
        {% if entry.type %}
            {% if entry.type == "list" %}
                {% include entry-list.html items=entry.items level=nextLevel %}
            {% elsif entry.type == "table" %}
                {% include entry-table.html table=entry level=nextLevel %}
            {% elsif entry.type == "table-index" %}
                {% include table-index.html index=entry.index %}
            {% elsif entry.type == "example" %}
                {% include example.html content=entry.entries %}
            {% elsif entry.type == "entries" %}
                {% if entry.outline > 0 %}
                <div class="outlineAB">
                {% else %}
                <div>
                {% endif %}
                    {% if entry.name %}
                        {% if level == 0 %}
                            <div class="entry-level-0-title">{{entry.name}}</div>
                        {% elsif level == 1 %}
                            <div class="entry-level-1-title">{{entry.name}}</div>
                        {% else %}
                            <span class="entry-inline-title">{{entry.name}}</span>:
                        {% endif %}
                    {% endif %}
                    {% include entry.html entries=entry.entries level=nextLevel useDiv=include.useDiv %}
                </div>
            {% endif %}
        {% else %}
            {% if include.useDiv > 0 %}
                <div markdown="span">{{entry}}</div>
            {% else %}
                <p markdown="span">{{entry}}</p>
            {% endif %}
        {% endif %}
{% elsif include.entries[0] %}
    {% for et in include.entries %}
        {% include entry.html entry=et level=include.level useDiv=include.useDiv %}
    {% endfor %}
{% else %}
    {{include.entries}}
{% endif %}

