<table class="gen-table">
    <thead>
        <tr>
            {% for cell in include.entry.colLabels %}
                {% assign styleHeader = include.entry.colStyles[forloop.index0] %}
                <th>
                    {{cell}}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in include.entry.rows %}

            {% include entry-table-row.html styleRow=include.entry.colStyles row=row %}

        {% endfor %}
    </tbody>
</table>