

{% if include.table %}
{% assign table = site.data.tables[include.table] | where:"index", include.index | first %}
{% else %}
{% assign table = site.data.table | where:"index", include.index | first %}
{% endif %}

<div class="table-header"> 
    Table {{include.table}} {{include.index}}: {{table.title}}
</div>
<div>
    {% include entry-table.html entry=table.table %}
    
    {% if table.postEntries %}
    <span style="font-size: 8px"> {% include entry.html entries=table.postEntries level=12 %}</span>
    {% endif %}
</div>



