
<div id="userMap">
<div class="content"><a href="rule_creation_1_characteristics.html"><div class="box box1">Generate Characteristics</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="rule_creation_2_race.html"><div class="box box2">Choose your Race</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="rule_creation_3_class.html"><div class="box box3">Choose your Class</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="rule_creation_4_trait.html"><div class="box box4">Buy Traits</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="rule_creation_5_xp.html"><div class="box box5">Spend Experience Points</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="rule_creation_6_fill.html"><div class="box box6">Fill in the Rest</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="rule_creation_7_beyond.html"><div class="box box7">Beyond First Level</div></a></div>
<div class="clearfix"></div>

</div>
