<table class="weaponTable">
    <thead>
        <tr class="weaponRow">
            <th class="bold" colspan="2">{{include.weapon.name}}</th>
        </tr>
    </thead>
    <tbody>
        {% if include.weapon.group %}
        <tr class="weaponRow">
            <td colspan="2" class="col-12">
                <span class='entry-inline-title'>{{include.weapon.group  | sort | join: ", "}}</span>
                {% if include.weapon.weaponClass %}: {{include.weapon.weaponClass | sort | join: ", "}}{% endif %}
            </td>
        </tr>
        {% endif %}
        <tr class="weaponRow">
            <td class="col-6">
                <span class='entry-inline-title'>Weapon Damage</span>: {{include.weapon.damage}}
            </td>
            <td class="col-6">
                <span class='entry-inline-title'>Presence</span>: {{include.weapon.presence}}
            </td>
        </tr>
        <tr class="weaponRow">
            <td colspan="2">
                <span class='entry-inline-title'>Damage Type</span>:
                {{include.weapon.primeDamage}}{% if include.weapon.secondDamage %} - {{include.weapon.secondDamage | sort | join: ", "}}{% endif %}
            </td>
        </tr>
        <tr class="weaponRow">
            <td>
                <span class='entry-inline-title'>Breakage</span>: {{include.weapon.breakage}}
            </td>
            <td>
                <span class='entry-inline-title'>Fortitude</span>: {{include.weapon.fortitude}}
            </td>
        </tr>
        <tr class="weaponRow">
            <td>
                <span class='entry-inline-title'>Weapon Cost</span>: {{include.weapon.ap}}
            </td>
            <td>
                <span class='entry-inline-title'>Init. Penalty</span>: {{include.weapon.initPen}}
            </td>
        </tr>
        <tr class="weaponRow">
            <td>
                <span class='entry-inline-title'>Size</span>: {{include.weapon.weaponSize}}
            </td>
            <td>
                <span class='entry-inline-title'>Req. Strength</span>: {{include.weapon.primeStr}}{% if include.weapon.secondStr %} / {{include.weapon.secondStr}}{% endif %}
            </td>
        </tr>

        {% if include.weapon.rangeType == "thrown" or include.weapon.rangeType == "fired" %}
        <tr class="weaponRow">
            <td>
                <span class='entry-inline-title'>{{include.weapon.rangeType | capitalize}}</span>: {{include.weapon.range}} ft.
            </td>
            <td>
                {% if include.weapon.rot %}
                    <span class='entry-inline-title'>Rate of Throwing</span>: {{include.weapon.rot}}
                {% else %}
                    <span class='entry-inline-title'>Reload</span>: {{include.weapon.reload}}{% if include.weapon.clip %} / clip {{include.weapon.clip}}{% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}

        {% if include.weapon.special.size > 0 %}
        <tr class="weaponRow">
            <td colspan="2">
                <span class='entry-inline-title'>Special</span>: {{include.weapon.special | sort | join: ", "}}
            </td>
        </tr>
        {% endif %}

        {% if include.weapon.description.size > 0 %}
        <tr class="weaponRow">
            <td colspan="2">
                {% include entry.html entries=include.weapon.description %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>