{% assign data = include.data %}

<h4>Martial</h4>
<div>
    <span class="entry-inline-title">Limit</span>: {{data.limit}}%
</div>
<div>
    <span class="entry-inline-title">+1 Strike</span>: {{data.strike}}
</div>
<div>
    <span class="entry-inline-title">+1 Block</span>: {{data.block}}
</div>
<div>
    <span class="entry-inline-title">+1 Dodge</span>: {{data.dodge}}
</div>
<div>
    <span class="entry-inline-title">+1 Wear Armor</span>: {{data.wearArmor}}
</div>
<div>
    <span class="entry-inline-title">+10 Ki</span>: {{data.kiPoint}}
</div>
<div>
    <span class="entry-inline-title">+1 Chakra</span>: {{data.chakra}}
</div>

{% if data.innate.size > 0 %}

<h5>Innate Bonus</h5>
<div>
    {% for innate in data.innate %}
            {% include class/innate.html data=innate %}
    {% endfor %}
</div>

{% endif %}