{% assign data = include.data %}

<h4>Secondary Skills</h4>
<div>
    <span class="entry-inline-title">+1 exertion</span>:{{data.exertion}}
</div>
<div>
    <span class="entry-inline-title">+1 social</span>:{{data.social}}
</div>
<div>
    <span class="entry-inline-title">+1 perception</span>:{{data.perception}}
</div>
<div>
    <span class="entry-inline-title">+1 intellectual</span>:{{data.intellectual}}
</div>
<div>
    <span class="entry-inline-title">+1 vigor</span>:{{data.vigor}}
</div>
<div>
    <span class="entry-inline-title">+1 subterfuge</span>:{{data.subterfuge}}
</div>
<div>
    <span class="entry-inline-title">+1 creative</span>:{{data.creative}}
</div>

{% if data.innate.size > 0 %}

<h5>Innate Bonus</h5>
<div>
    {% for innate in data.innate %}
            {% include class/innate.html data=innate %}
    {% endfor %}
</div>

{% endif %}

{% if data.reduced.size > 0 %}

<h5>Reduced Cost</h5>
<div>
    {% for reduced in data.reduced %}
            {% include class/reduced.html data=reduced %}
    {% endfor %}
</div>

{% endif %}